= bootstrap_form_for(@user) do |f|
  .panel.panel-info
    .panel-body
      #result.header-pic{:onclick => "$('#form').click();"}
        %img.j-img.header-pic-img{:alt => @user.nickname,:src => img_path(@user)}
        .header-pic-edit
          %i.fa.fa-camera{"aria-hidden" => "true"}
          画像を変更する
        .header-pic-textarea
          %p #{@user.nickname} #{@user.age}
          .arrow_box=@user.comment.presence || "よろしくお願いします"
      .well
        一言コメントは、基本プロフィールの一言コメントから編集できます。
      #navi.panel.panel-default
        %h4.panel-heading.panel-title.open
          %i.fa-minus-circle.fa
          SNS
        .panel-body
          =f.text_field :instagram,label:"Instagramアカウント名"
          =f.text_field :twitter,label:"Twitterアカウント名"
          =f.text_field :studyplus,label:"studyplusのURL"
          %button{"data-target" => "#myModal", "data-toggle" => "modal", :style => "margin-bottom:10px;margin-left:15px;", :type => "button"}
            %i.fa.fa-info-circle>
            studyplusのURLの取得方法
          %input.form-control{:name => "studyplus", :placeholder => "http://studyplus.jp/users/....", :type => "text", :value => ""}/
          / モーダルウィンドウの中身
          #myModal.modal.fade
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                  %h4.modal-title studyplusのURLを取得するには
                .modal-body
                  %p
                    studyplusのURLはstudyplusのアプリから取得することができません。パソコンまたはスマートフォンのブラウザ（Safari,chromeなど）から
                    %a{:href => "http://studyplus.jp/"}> studyplusのサイト
                    にログインしましょう。
                    %br/
                  %p ログインしたらパソコンなら自分のアイコンを押して、スマホなら左上のMENUボタンを押してマイページに移動しましょう。
                  %p{:style => "margin: 5px auto;text-align:center"}
                    %img.header-pic-img{:alt => "", :border => "0", :src => "./img/slide2.jpg", :width => "80%"}/
                  %p マイページに移動したら画面上部のstudyplus.jpと書いてあるリンクをクリックしてリンクをコピーして下の空欄に貼付けると完了です。
                  %p{:style => "margin: 5px auto;text-align:center"}
                    %img.header-pic-img{:alt => "", :border => "0", :src => "./img/slide3.jpg", :width => "80%"}/
                .modal-footer
                  %button.btn.btn-lg.btn-block.btn-primary{"data-dismiss" => "modal", :type => "button"} 閉じる
          / /モーダルウィンドウの中身
        %h4.panel-heading.panel-title.open
          %i.fa-minus-circle.fa
          基本プロフィール（必須）
        .panel-body.kome
          =f.text_field :nickname,label:"ニックネーム"
          =f.select :age, age_arr,:prompt => "選択してください",label:"現在の学年"
          .form-group
            =f.label '性別'
            =f.radio_button :gender,'男',label:'男'
            =f.radio_button :gender,'女',label:'女'
          =f.text_field :university,label:"志望・所属大学"
          =f.text_field :department,label:"志望・所属学部"
          =f.text_field :like_subject,label:"得意科目"
          =f.text_field :dislike_subject,label:"苦手科目"
          =f.text_field :comment,label:"一言コメント"
          =f.text_field :comment,label:"一言コメント"
  = f.file_field :image,id:"form",hidden:true
  = f.submit '更新'
