.panel.panel-danger
  .panel-body
    .prof_area.row
      .col-xs-4.prof_img_area
        %img.header-pic-img.img-circle{:src => img_path(@user)}
      .col-xs-8
        %p.prof_username
          =@user.nickname
          %span=@user.age.presence || "学年不明"
        %p.prof_text=@user.comment.presence || "よろしくお願いします"
        =render 'cheer'
    .user-status
      %table.table.table-striped.table-bordered
        %tbody
          %tr
            %td.text-center
              %i.fa.fa-eye
              #{@page_views}views
            %td.text-center
              %i.fa.fa-bullhorn
              %a{"data-target" => "#ouen_count", "data-toggle" => "modal", :href => "#"}
                %span#reco_count #{@cheers.count}
                人が応援中　
    / モーダルウィンドウの中身
    #ouen_count.modal.fade{:style => "display: none;"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h5.modal-title{:style => "font-weight:bold;"}
              #{@user.nickname}さんを応援中のユーザー（
              %span#reco_count #{@cheers.count}
              人）
          .modal-body
            - @cheers.each do |cheer|
              =render cheer.user
            - if @cheers.count==0
              %p まだ#{@user.nickname}さんを応援している勉強垢はいません。
          .modal-footer
    - unless user_signed_in?
      #myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content.col-md-8.col-md-offset-2.text-center
            .modal-header
              %button.close{"aria-label" => "”Close”","data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "”true”"} ×
              %h4{:class => "”modal-title”", :id => "”myModalLabel”"} ログインしてください
            .modal-body
              =render 'new'
    %h4 Ranking
    .ranking_area.row
      = render partial: "ranking_area", locals: {name: "アクセス数",type:"累計",rank:@t_rank}
      = render partial: "ranking_area", locals: {name: "アクセス数",type:"昨日",rank:@y_rank}
      = render partial: "ranking_area", locals: {name: "応援数",type:"累計",rank:@c_rank}
    %h4 Follow me!
    .profile-links
      -if @user.twitter.presence
        =link_to "https://twitter.com/#{@user.twitter}",:target => "_new" do
          %img{:src=>"/twitter.png"}
      -if @user.instagram.presence
        =link_to "https://instagram.com/#{@user.instagram}",:target => "_new" do
          %img{:src=>"/instagram.png"}
      -if @user.studyplus.presence
        =link_to "https://studyplus.jp/users/#{@user.studyplus}",:target => "_new" do
          %img{:src=>"/studyplus.png"}
    %h4 Details
    %table.profile-detail.table.table-striped
      %tbody
        =pro_row("志望大学","university")
        =pro_row("志望学部","department")
        =pro_row("得意科目","like_subject")
        =pro_row("苦手科目","dislike_subject")
        =pro_row("部活動","activity")
    / ----------- Q&A ------------
    %h4 Q&A
    .panel.panel-danger
      .panel-heading Q. 好きな映画は？
      .panel-body
        A. ビリギャル、ラブライブ、まどまぎ
    .panel.panel-danger
      .panel-heading Q. 大学に入ったら何をしたい？
      .panel-body
        A. きままにいきたい
    / ブログ
    %h4 Blog
    =render Array(@user.posts.where(is_draft:[false,nil]))
    - if current_user==@user
      %h3 下書き中のブログ
      =render Array(@user.posts.where(is_draft:true))

    %table.table.table-condensed
      %tbody
        %tr
          %td{:width => "40%"}
            %p 2016/06/26 09:14
          %td{:width => "50%"}
            %p
              %a{:href => "./blog?id=2"} ブログ機能を追加しました
        %tr
          %td{:width => "40%"}
            %p 2016/06/27 04:29
          %td{:width => "50%"}
            %p
              %a{:href => "./blog?id=4"} ブログが編集できるようになりました
    :javascript

      function disp(num){

        // 「OK」時の処理開始 ＋ 確認ダイアログの表示
        if(window.confirm('本当に削除しますか？')){
          var id = num;
          // 「OK」時の処理終了
          location.href = "./blog_delete?id="+id;
        }
        // 「キャンセル」時の処理開始
        else{
          window.alert('キャンセルされました'); // 警告ダイアログを表示
        }
        // 「キャンセル」時の処理終了
      }
    %h4 Related Users
    / おすすめ
    %hr/
    .prof_area.row
      .col-xs-4.prof_img_area
        %a{:href => "/shirleyandgrenadine"}
          %img.header-pic-img.img-circle{:alt => "Shirley", :border => "0", :src => "https://stpf.jp/img/userimage/79.png", :width => "100%"}/
      .col-xs-8
        %p.prof_related
          %span.label.label-info おすすめ
          %a{:href => "/shirleyandgrenadine"} Shirley　高3
        %p.prof_text_related 高3です！よろしくお願いします！
    %hr/
    .prof_area.row
      .col-xs-4.prof_img_area
        %a{:href => "/miwa2001"}
          %img.header-pic-img.img-circle{:alt => "wammi❀study❀", :border => "0", :src => "https://stpf.jp/img/userimage/751641043888541696.jpg", :width => "100%"}/
      .col-xs-8
        %p.prof_related
          %span.label.label-warning 志望大学が同じ
          %a{:href => "/miwa2001"} wammi❀study❀　中3
        %p.prof_text_related 一緒に頑張りましょう꒰｡•`ｪ´•｡꒱۶
    %hr/
    .prof_area.row
      .col-xs-4.prof_img_area
        %a{:href => "/mxjp24"}
          %img.header-pic-img.img-circle{:alt => "ユｳ", :border => "0", :src => "https://stpf.jp/img/userimage/759541086683443201.jpg", :width => "100%"}/
      .col-xs-8
        %p.prof_related
          %span.label.label-success 志望学部が同じ
          %a{:href => "/mxjp24"} ユｳ　高2
        %p.prof_text_related よろしくお願いします
    %hr/
    .prof_area.row
      .col-xs-4.prof_img_area
        %a{:href => "/studytime"}
          %img.header-pic-img.img-circle{:alt => "ｱﾕﾐ@勉強垢", :border => "0", :src => "https://stpf.jp/img/userimage/810472723080040448.jpg", :width => "100%"}/
      .col-xs-8
        %p.prof_related
          %span.label.label-danger 学年が同じ
          %a{:href => "/studytime"} ｱﾕﾐ@勉強垢　高1
        %p.prof_text_related 頑張って国立目指してます！
    %hr/
