%h1=@user.nickname+"さんのプロフィール"
-user_img(@user)
%p=@user.nickname
%p=@user.email
/current_user.cheers.find_by(recipient_id:@user.id)
%i.fa.fa-glass
%span.glyphicon.glyphicon-star
= form_tag(cheer_path(@user),remote:true,method:"get") do |f|
  =hidden_field_tag :is_valid,true
  %button.btn.btn-sm.btn-block.btn-default#cheers{:type=>"submit"}

    %span#cheer_text 応援する

=link_to cheer_path(@user),remote:true do
  %button.btn.btn-sm.btn-block.btn-default
    %i.fa.fa-bullhorn
    %span#cheer_text 応援する
- if @user==current_user
  = link_to '編集', edit_user_path(@user),class:"btn btn-primary"

%h2 ブログ
- if @user==current_user
  = link_to '新規作成',new_post_path
- if @posts.empty?
  %p="まだ#{@user.nickname}さんのブログはありません。ブログが始まるのが楽しみですね。"
- @posts.each do |post|
  - if post.is_draft && current_user==@user
    %h3="（下書き）#{post.title}"
  - elsif post.is_draft && current_user!=@user
    -next
  - else
    %h3=post.title
  %p=time_ago_in_words post.created_at
  =post.content.html_safe
  - if current_user==@user
    = link_to "編集",edit_post_path(post)
    = link_to "削除",post,method: :delete,data:{confirm:'本当に削除しますか？'}
