= bootstrap_form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :title,required:true
  = f.cktext_area :content,required:true
  = f.check_box :is_draft,label:"下書き（チェックすると自分にしか見えなくなります）"
  = f.submit '保存'
