
<header class="header">
  <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <a href="/users/<%= current_user.id %>">マイページ</a>
    <a href="/posts/new">投稿する</a>
  <% else %>
    <%= link_to "ログイン", new_user_session_path, class: 'post' %>
    <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
  <% end %>
</header>

<% @posts.each do |post| %>
<h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
<p><%=  simple_format(post.content) %></p>
<p>Author:<a href="/<%= post.user.nickname %>"><%= post.user.nickname %></a></p>
<p><%= post.created_at %></p>
<% end %>

<%= paginate(@posts) %>