%body
  %header.header
    - if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete
      = link_to "マイページ", user_path(current_user)
      = link_to "投稿する", new_post_path
    - else
      = link_to "ログイン", new_user_session_path, class: 'post'
      = link_to "新規登録", new_user_registration_path, class: 'post'
  - @posts.each do |post|
    %h2= post.title
    %p= simple_format(post.content)
    %p= post.created_at
  = paginate(@posts)
