%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title=page_title
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Fredericka+the+Great"
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = favicon_link_tag("favicon.ico")
